.btn{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    width: 214px;
    height: 39px;
    transition: all 0.3s ease;
    font-family: 'Caveat', cursive;
    cursor: pointer;
    background: var(--main-bg-color);
    border: 3px solid var(--border-bt-color);
    color: white;
}


.btn:hover{
    color: #00DFA2;
    transform: scale(1.05,1.05);
}