.nav-panel {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 9vh;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}