.list-sub{
    padding-top: 5vh;
    padding-bottom: 5%;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    box-sizing: border-box;
    row-gap: 30px;
    justify-content: space-evenly;
}