.list-sub{
    padding-top: 7%;
    padding-bottom: 5%;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
    row-gap: 30px;
}