.block{
    position: absolute;
    bottom: 0;
    background: var(--main-bg-color);
    border-width: 2px 0px;
    border-style: solid;
    border-color: var(--border-bt-color);
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.info{
    color: white;
    font-size: 2em;
}