.box{
    position: relative;
    width: 23%;
    min-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.4);
    border-radius: 10px;
}

.box:hover{
    background: linear-gradient(135.38deg, rgba(0, 223, 162, 0.2) 27.88%, rgba(0, 0, 0, 0.2) 68.1%);
}

.video{
    margin-top: 5px;
    width: 95%;
    height: 160px;
    min-height: 160px;
    border-radius: 10px;
    object-fit: cover;
    
    box-sizing: border-box;
    background-color: transparent;
}

.user{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
}

.name{
    display: block;
    width: 95%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3px;
    text-align:left;
    font-size: 1.8em;
    color: #1A1A1A;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}


.profile{
    border: 2px solid var(--border-color);
    width: 30px;
    height: 30px;
    object-fit:cover;
    border-radius: 100%;
}

.name_profile{
    color: rgba(26, 26, 26, 0.9);
    width: 85%;
    padding-left: 5px;
    text-align:left;
    font-size: 1.2em;

    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}