.modal-button{
    width: 100%;
    height: 40%;
    background: #000000;
    border: 1px solid #00DFA2;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
}

.button-image{
    max-height:100%; 
    max-width:100%;
}

.button-name{
    display: block;
    color: white;
    font-size: 2.5em;
}