.box{
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.image{
    margin-top: 10vh;
    width: 20%;
    height: auto;
}

.text{
    font-size: 2em;
}