.search{
    width: 50%;
    height: 65%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search-input{
    width: 90%;
    line-height: 90%;
    height: 90%;
    border: none;
    padding-left: 2%;
    border-radius: 10px;
    outline-style: none;
    font-size: 1.5em;
    vertical-align: center;
    font-family: 'Caveat', cursive;
}

.search-button{
    width: 10%;
    height: 90%;
    background-image: url("/src/Assets/SearchIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}