.btn{
    border-radius: 10px;
    font-size: 1.5em;
    width: 214px;
    height: 39px;
    transition: all 0.3s ease;
    font-family: 'Caveat', cursive;
    cursor: pointer;
}

.btn-not-sub{
    background: var(--main-bt-color);
    border: 3px solid var(--border-bt-color);
    color: white;
}

.btn-not-sub:hover{
    color: var(--border-bt-color);
    transform: scale(1.05,1.05);
}

.btn-sub:hover{
    background-color: var(--second-bt-color);
    border: 3px solid var(--border-color);
    transform: scale(1.08,1.08);
}

.btn-sub{
    background: #ffffff;
    border: 3px solid var(--border-bt-color);
    color: var(--main-bt-color);

}