.spinner_box{
    position: relative;
    left: 45%;
    top: 40vh;

    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
}

.spinner_box::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 10px solid #1a1a1a;
    box-shadow:0 0 20px #1a1a1a;
    z-index: 1;

    transform-origin: 50% 50%;
    animation-name: RotationAnimOut;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner_box::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 10px solid #00DFA2;
    box-shadow:0 0 20px #00DFA2;
    z-index: 2;

    transform-origin: 50% 50%;
    animation-name: RotationAnim;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes RotationAnim{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes RotationAnimOut{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(-360deg);
    }
}
