.auth_button{
    height: 40%;
    background: var(--main-bg-color);
    border-radius: 10px;
    color: white;
    border: 0;
    margin-bottom: 10px;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    cursor: pointer;
}

.auth_button:hover{
    border: 2px solid var(--border-bt-color);
    box-sizing: border-box;
   /* box-shadow: inset 0px 0px 5px 0px rgba(255,255, 255,1); */
}

.button_small{
    width: 40%;
}

.button_big{
    width: 60%;
}