.profile{
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img{
    cursor: pointer;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}