.box{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
    height: 6%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
}

.label{
    font-size: 1.5em;
}

.input{
    width: 100%;
    box-sizing: border-box;
    line-height: 100%;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding-left: 2%;
    outline-style: none;
    font-size: 1.5em;
    font-family: 'Caveat', cursive;
}