.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.modal-content {
    position: relative;
    margin-top: 10vh;
    margin-right: 3%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    background: var(--main-bg-color);
    border-radius: 10px;
    border: 2px solid #00DFA2;
    width: 284px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10%;
}


.modal.active {
    background: #1a1a1a0e;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.content-autor{
    color: white;
    font-size: 1em;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    text-align: center;
}